/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

/* Content Layout */
.content {
    display: flex;
    gap: 20px;
}

/* Image Section */
.annotation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.annotatable-image {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid gray;
    border-radius: 15px;
}

/* Annotation Positions */
.annotation {
    position: absolute;
    background: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Annotation Details Section */
.annotation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Existing Annotations */
.existing-annotations h2,
.new-annotation h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.existing-annotations ol {
    margin-left: 20px;
    color: #555;
    font-size: 0.9rem;
}

/* Add New Annotation Form */
.new-annotation form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-annotation label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.new-annotation textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
}

.new-annotation input[type="file"] {
    padding: 5px;
    font-size: 0.9rem;
}

.new-annotation button {
    background-color: #3b82f6;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-annotation button:hover {
    background-color: #2563eb;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    margin-top: 80px;
}
.modal-content textarea {
    resize: none;
    height: 100px;
    overflow: hidden;
    
    padding: 8px;
    border: 2px solid #76767698;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-size: 17px;
    color: #767676;
}

@media (max-width: 600px) {
    .modal-content {
        width: 95%;
    }
}


.annotation-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.annotation-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.annotation-form-container button {
    align-self: center;
}
.annotation-form-container textarea {
    resize: none;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    color: #767676;
    font-size: 17px;

    border: 2px solid #76767698;
    border-radius: 6px;
}

#annotation-image-input,
#annotation-edit-image {
    display: none; /* Hide the default file input */
}

.drop {
    border-radius: 10px;
    border: 2px dashed #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.drop img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

/* Notification Styles */
.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.notification {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification.success {
    background-color: #4caf50;
}
.notification.error {
    background-color: #f44336;
}
.notification .close-notification {
    margin-left: 10px;
    cursor: pointer;
}

.btn-annotation {
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    background-color: #4E78D2;
    color: white;
    border: none;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn-annotation:hover {
    background-color: #2563EB;
}