// Base.
$primary: #464E5C;
$secondary: #555D6D;
$success: #8DD35F;
$warning: #FF9955;
$danger: #FF5555;

// Text.
$text: #FFFFFF;
$text-alt: #464e5c;
$text-muted: #b3b3b3;
$text-muted-alt: #627383;
$text-error: #FF5555;

// Components.
$panel: #2c313a;
$sidebar: #2c313a;
$dialog: #353b45;
$footer: #2c313a;

// Borders.
$border: #353B45;
$border-alt: #AFB5C1;
$border-active: #8ffa57;
$border-active-alt: #FFFFFF;
$selection-outline: #59F;

// Formatting.
$code: #464E5C;
$quote: #464E5C;
$highlight: #ffd42a;
$link: #dcf7ba;

// Input.
$input-border: #b3b3b3;
$input-outline: #5b80b2;
$input-checkbox: #5b80b2;

// Other colors without semantic meaning.
$blue: #5599FF;
$green: #8DD35F;
$yellow: #FFD42A;
$orange: #FF9955;
$purple: #9955ff;