.progress-container {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-top: 5%;
    align-items: flex-start;
    width: 100%;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 80%;
}

.progress-bar-step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    z-index: 1;
    text-decoration: none;

}

.progress-bar-line {
    height: 4px;
    flex-grow: 1;
    background-color: #ccc;
    margin: 0 -2px;
}

.progress-bar-completed {
    background-color: #4E78D2;
}

.progress-bar-current {
    background-color: #ffffff;
    text-decoration: none;
    color: #4E78D2;
    outline-color: #4E78D2;
    outline-width: 3px;
    outline-style: solid;
}

@media (max-width: 1024px) {
    .progress-container {
        margin-top: 6%;
    };
}