@CHARSET "UTF-8";
.dialog { 
    background-color:#3e4444; 
    padding: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
}


.dialog h1 {
    font-weight:bold;
    font-size:18px;
    color:#fff;
    display:block;
    overflow:hidden;
    margin-bottom:10px;
}

.dialog h1 button {
    float:right;
}

.dialog .footer { text-align:right; }


.table { 
    background-color:#3e4444; 
    color:#fff; 
    padding: 20px; 
    width:600px;
}


button { padding:10px 20px 10px 20px; margin-top:5px; color:#fff; border:none; border-radius: 5px;}
button { background-color:#c1946a; }
button.close { background-color:#405d27; }