asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cloudmersive_convert_api_client==3.3.0
cssselect2==0.7.0
defusedxml==0.7.1
Django==5.1.3
django-admin-logs==1.3.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
fake-useragent==2.0.2
fonttools==4.55.3
geographiclib==2.0
geopy==2.4.1
idna==3.10
ignr==2.2
importlib_resources==6.4.5
lxml==5.3.0
mysql==0.0.3
mysqlclient==2.2.6
odfpy==1.4.1
odt-pdf==0.1.1
pillow==11.0.0
py==1.4.22
pycparser==2.22
pydyf==0.11.0
PyJWT==2.10.1
pypandoc==1.15
pypdf==4.3.1
PyPDF2==3.0.1
pyphen==0.17.0
pytest==2.6.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2021.3
reportlab==4.2.5
requests==2.32.3
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
sqlparse==0.4.2
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
urllib3==2.2.3
weasyprint==63.1
webencodings==0.5.1
zopfli==0.2.3.post1
