<!-- dev/modules/agency/templates/agency/evaluator_list.html -->
{% include 'shared/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentūros Vertintojai</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-page">
        <div class="content">
            <div class='container-fluid col-10'>
                <h2>Agentūros vertintojai</h2>
                <a href="{% url 'modules.agency:create_evaluator_account' %}" class="btn btn-primary">Sukurti Vertintojo Paskyrą</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Vardas</th>
                            <th>Pavardė</th>
                            <th>El. Paštas</th>
                            <th>Tel. Nr.</th>
                            <th>Prisijungimo Data</th>
                            <th>Veiksmai</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evaluator in evaluator_data %}
                        <tr>
                            <td>{{ evaluator.first_name }}</td>
                            <td>{{ evaluator.last_name }}</td>
                            <td>{{ evaluator.email }}</td>
                            <td>{{ evaluator.phone_num }}</td>
                            <td>{{ evaluator.date_joined }}</td>
                            <td>
                                <a href="{% url 'modules.evaluator:edit_evaluator_account' evaluator.id %}" class="btn btn-primary">Redaguoti Profilį</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>