{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'shared/header.html' %}
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    {% block extra_body %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <footer class="footer">
        <span class="text-muted">&copy; {% now 'Y' %} Indeform Vertinta</span>
    </footer>
</body>
</html>