{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block bootstrap_css %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'shared/header.html' %}
    {% block content %}{% endblock %}
    {% block extra_body %}{% endblock %}

    <footer class="footer">
        <span class="text-muted">&copy; {% now 'Y' %} Indeform Vertinta</span>
    </footer>
</body>
</html>