{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Vertinamo Objekto Papildomi Statiniai' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid col-10">
            <h2>{% trans '2. Vertinamo Objekto Papildomi Statiniai' %}</h2>

            {% if not has_additional_buildings %}
                <div class="alert alert-warning">
                    {% trans "Šis objektas neturi papildomų statinių. Prašome pridėti papildomą statinį." %}
                </div>
            {% endif %}

            <div class="form-section">
                <h3 class="header-title">{% trans "Garažas" %}</h3>
            <form method="post">
                {% csrf_token %}
                {{ garage_form.management_form }}
                <div id="garages-forms">


                    <div class="grid-form">
                        {% for field in garage_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>


                </div>
                <button type="submit" name="garage_submit" class="btn-submit">{% trans 'Pridėti Garažą' %}</button>
            </form>
            </div>

            <div class="form-section">
                <h3 class="header-title">{% trans "Sandėliukas" %}</h3>
            <form method="post">
                {% csrf_token %}
                {{ shed_form.management_form }}
                <div id="sheds-forms">

                    
                    <div class="grid-form">
                        {% for field in shed_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>

                    
                </div>
                <button type="submit" name="shed_submit" class="btn-submit">{% trans 'Pridėti Sandėliuką' %}</button>
            </form>
            </div>

            <div class="form-section">
                <h3 class="header-title">{% trans "Pavėsinė" %}</h3>
            <form method="post">
                {% csrf_token %}
                {{ gazebo_form.management_form }}
                <div id="gazebos-forms">


                    <div class="grid-form">
                        {% for field in gazebo_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    

                </div>
                <button type="submit" name="gazebo_submit" class="btn-submit">{% trans 'Pridėti Pavėsinę' %}</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% if is_evaluator %}
<div class="navigation-buttons">
    <a href="{% url 'modules.evaluator:edit_utility_info' order_id pk %}" class="btn-back">{% trans "Atgal" %}</a>
    <a href="{% url 'modules.evaluator:edit_RC_data' order_id pk %}" class="btn-forward">{% trans "Pirmyn" %}</a>
</div>
{% endif %}
{% endblock %}