{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Agentūros pasirinkimas' %}{% endblock %}

{% block bootstrap_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid col-10">
            <h2>{% trans '3. Agentūros pasirinkimas' %}</h2>
            <form method="POST" action="{% url 'modules.orders:select_agency' %}">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans 'Pavadinimas' %}</th>
                            <th>{% trans 'Agentūris įkurimo data' %}</th>
                            <th>{% trans 'Vertintojų skaičius' %}</th>
                            <th>{% trans 'Užbaigti užsakymai' %}</th>
                            <th>{% trans 'Vertinimo pradinė kaina' %}</th>
                            <th>{% trans 'Veiksmai' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agency in agency_data %}
                        <tr>
                            <td>{{ agency.name }}</td>
                            <td>{{ agency.date_joined|date:"Y-m-d" }}</td>
                            <td>{{ agency.evaluator_count }}</td>
                            <td>{{ agency.completed_orders }}</td>
                            <td>{{ agency.evaluation_starting_price }}</td>
                            <td>
                                <button type="submit" name="selected_agency_id" value="{{ agency.id }}" class="btn btn-primary">{% trans 'Pasirinkti' %}</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}