{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Redaguoti papildomus statinius' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% else %}
    <div class="progress-bar-placeholder-larger"></div>
{% endif %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid col-10">
        {% if is_evaluator %}
            <form action="{% url 'modules.evaluator:edit_additional_buildings' order_id pk %}" method="POST" class="formal">{% csrf_token %}
            <h2>{% trans '2. Vertinamo Objekto Papildomi Statiniai' %}</h2>
        {% else %}
            <form action="{% url 'modules.orders:edit_additional_buildings' object.id %}" method="POST" class="formal">{% csrf_token %}
        {% endif %}
                {% csrf_token %}
                {% if show_garage_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                            <h3 class="header-title">{% trans "Garažas" %}</h3>
                            <div class="col-lg-12">
                                <div class="grid-form">
                                    {% for field in garage_form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
                {% endif %}
                {% if show_shed_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                            <h3 class="header-title">{% trans "Sandėliukas" %}</h3>
                            <div class="col-lg-12">
                                <div class="grid-form">
                                    {% for field in shed_form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
                {% endif %}
                {% if show_gazebo_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <h3 class="header-title">{% trans "Pavėsinė" %}</h3>
                        <div class="col-lg-12">
                            <div class="grid-form">
                                {% for field in gazebo_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <button type="submit" class="btn-form">{% trans 'Išsaugoti' %}</button>
            </form>
        </div>
    </div>
    {% if is_evaluator %}
<div class="navigation-buttons">
    <a href="{% url 'modules.evaluator:edit_utility_info' order_id pk %}" class="btn-back">{% trans "Atgal" %}</a>
    <a href="{% url 'modules.evaluator:edit_RC_data' order_id pk %}" class="btn-forward">{% trans "Pirmyn" %}</a>
</div>
</div>
{% endif %}
{% endblock %}