{% load static %}
{% load i18n %}
{% include 'shared/header.html' %}
{% if user.is_authenticated %}
{# {% include 'marea/menu_member.html' %} #}
{% else %}
{# {% include 'parea/menu.html' %} #}
{% endif %}
{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Redaguoti papildomus statinius' %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="content-page">
    <div class="content">
        <div class='container-fluid col-10'>
            {% if is_evaluator %}
                <form action="{% url 'modules.evaluator:edit_additional_buildings' order_id pk %}" method="POST">{% csrf_token %}
            {% else %}
                <form action="{% url 'modules.orders:edit_additional_buildings' object.id %}" method="POST">{% csrf_token %}
            {% endif %}
                {% if garage_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Garažas" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ garage_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if shed_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Sandėliukas" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ shed_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if gazebo_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Pavėsinė" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ gazebo_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans 'Išsaugoti' %}</button>
            </form>
        </div>
        {% if is_evaluator %}
        <div class="navigation-buttons">
            <a href="{% url 'modules.evaluator:edit_utility_info' order_id pk %}" class="btn btn-secondary">{% trans "Atgal" %}</a>
            <a href="{% url 'modules.evaluator:edit_RC_data' order_id pk %}" class="btn btn-primary">{% trans "Pirmyn" %}</a>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}