{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block title %}{% trans 'Vertintojo užsakymai' %}{% endblock %}

{% block bootstrap_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="content-page">
    <div class="container">
        <h2 class="title">{% trans 'Vertintojo užsakymai' %}</h2>

        <!-- Filter Section -->
        <form method="GET" action="{% url 'modules.orders:evaluator_order_list' %}">
            <div class="filters">
                <select class="dropdown" name="municipality">
                    <option value="">{% trans 'Miestas' %}</option>
                    {% for key, value in municipality_choices %}
                    <option value="{{ key }}" {% if key|stringformat:"d" == request.GET.municipality %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="clear-button">{% trans 'Filtruoti' %}</button>
                <a href="{% url 'modules.orders:evaluator_order_list' %}" class="clear-button">{% trans 'Išvalyti' %}</a>
            </div>
        </form>

        <!-- Requests List -->
        <div class="requests-list">
            {% for order in orders %}
            <div class="request-item">
                <div class="request-details">
                    <p class="request-title">#{{ forloop.counter }} {{ order.object.street }} {{ order.object.house_no }}, {{ order.object.municipality|get_municipality_name }}</p>
                    <p class="request-info">
                        <span class="priority {{ request.priority_class }}"></span>
                        {{ order.status }}
                        · {{ order.client.get_full_name }} · {{ order.created|date:"Y-m-d" }}
                    </p>
                </div>
                {% if is_evaluator %}
                <div class="request-actions">
                    <button class="icon-button">
                        <img src="{% static 'icons/report.svg' %}" alt="Document Icon">
                    </button>
                    <a href="{% url 'modules.evaluator:evaluation_steps' order.id %}" class="evaluate-button">{% trans 'Vertinti' %}</a>
                    <button class="icon-button">
                        <img src="{% static 'icons/media-images.svg' %}" alt="Image Icon">
                    </button>
                    <button class="icon-button">
                        <img src="{% static 'icons/trash.svg' %}" alt="Trash Icon">
                    </button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}