{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block title %}{% trans 'Vertintojo užsakymai' %}{% endblock %}

{% block content %}
<div class="progress-bar-placeholder-larger"></div>
<div class="content-page">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content">
        <div class="container-fluid col-10">
        <h2 class="title">{% trans 'Vertintojo užsakymai' %}</h2>

        <!-- Filter Section -->
        <form method="GET" action="{% if request.resolver_match.kwargs.id %}{% url 'modules.orders:specific_evaluator_order_list' id=request.resolver_match.kwargs.id %}{% else %}{% url 'modules.orders:evaluator_order_list' %}{% endif %}">
            <div class="filters">
                <select class="dropdown" name="municipality">
                    <option value="">{% trans 'Miestas' %}</option>
                    {% for key, value in municipality_choices %}
                    <option value="{{ key }}" {% if key|stringformat:"d" == request.GET.municipality %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <select class="dropdown" name="status">
                    <option value="">{% trans 'Statusas' %}</option>
                    {% for key, value in status_choices %}
                    <option value="{{ key }}" {% if key == request.GET.status %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <select class="dropdown" name="priority">
                    <option value="">{% trans 'Prioritetas' %}</option>
                    {% for key, value in priority_choices %}
                    <option value="{{ key }}" {% if key == request.GET.priority %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="clear-button">{% trans 'Filtruoti' %}</button>
                <a href="{% if request.resolver_match.kwargs.id %}{% url 'modules.orders:specific_evaluator_order_list' id=request.resolver_match.kwargs.id %}{% else %}{% url 'modules.orders:evaluator_order_list' %}{% endif %}" class="clear-button">{% trans 'Išvalyti' %}</a>
            </div>
        </form>

        <!-- Requests List -->
        <div class="order-list">
            {% if orders %}
                {% for order in orders %}
                <div class="order-item">
                    <div class="order-details">
                        <p class="order-title">#{{ forloop.counter }} {{ order.object.street }} {{ order.object.house_no }}, {{ order.object.municipality|get_municipality_name }}</p>
                        <p class="order-info">
                            <span class="priority-bubble 
                                {% if order.priority == 'Žemas' %}priority-low
                                {% elif order.priority == 'Vidutinis' %}priority-medium
                                {% elif order.priority == 'Aukštas' %}priority-high{% endif %}">
                            </span>
                            {{ order.priority }} · {{ order.status }}
                            · {{ order.client.get_full_name }} · {{ order.created|date:"Y-m-d" }}
                        </p>
                        {% with upcoming_events=order.events.all|dictsortreversed:"start_time"|slice:":1" %}
                        {% if upcoming_events %}
                            <div class="upcoming-event">
                                <span>{% trans 'Sekantis įvykis:' %} {{ upcoming_events.0.title }} - {{ upcoming_events.0.start_time|date:"Y-m-d H:i" }}</span>
                            </div>
                        {% endif %}
                    {% endwith %}
                    </div>
                    {% if is_evaluator %}
                    <div class="order-actions">
                        {% if order.report and order.report.report_file %}
                            {% if order.report.status == 'rejected' %}
                                <!-- Show rejected status to evaluator -->
                                <span class="report-status rejected" title="Ataskaita atmesta, nes: {{ order.report.rejection_reason }}">
                                    {% trans 'Ataskaita atmesta' %}
                                </span>
                            {% else %}
                                <!-- Evaluator can always download their reports -->
                                <a href="{{ order.report.report_file.url }}" class="icon-button" download title="{% trans 'Atsisiųsti Ataskaitą' %}">
                                    <img src="{% static 'icons/report.svg' %}" alt="Document Icon">
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'modules.evaluator:evaluation_steps' order.id %}" class="btn-evaluate">{% trans 'Vertinti' %}</a>
                        
                        <a href="{% url 'modules.orders:create_event' order.id %}?return_to=evaluator_orders" class="icon-button" title="{% trans 'Sukurti kalendoriaus įvykį' %}">
                            <img src="{% static 'icons/plus-circle.svg' %}" alt="Calendar Event Icon">
                        </a>


                        <a href="{% url 'modules.orders:view_object_data' order.id order.object.id %}" class="icon-button" title="{% trans 'Peržiūrėti objektą' %}">
                            <img src="{% static 'icons/eye.svg' %}" alt="Image Icon">
                        </a>
                        <a href="{% url 'modules.evaluator:edit_gallery' order.id order.object.id %}" class="icon-button" title="{% trans 'Peržiūrėti galeriją' %}">
                            <img src="{% static 'icons/media-images.svg' %}" alt="Image Icon">
                        </a>
                        
                        <form action="{% url 'modules.orders:delete_order' order.id %}" method="post" style="display:inline;" onsubmit="return confirm('{% trans 'Ar tikrai norite ištrinti šį užsakymą?' %}')">
                            {% csrf_token %}
                            <button type="submit" class="icon-button" title="{% trans 'Ištrinti užsakymą' %}">
                                <img src="{% static 'icons/trash.svg' %}" alt="Trash Icon">
                            </button>
                        </form>
                    </div>
                    {% endif %}
                    {% if is_agency %}
                        <a href="{% url 'modules.agency:reassign_evaluator' order.id %}" class="btn-evaluate">{% trans 'Priskirti kitą vertintoją' %}</a>
                    {% endif %}
                    <a href="{% url 'modules.orders:edit_order_status_priority' order.id %}" class="btn-evaluate">
                        {% trans 'Keisti Būseną ir Prioritetą' %}
                    </a>
                </div>
                {% endfor %}
            {% else %}
            <div class="no-orders-message">
                {% if request.GET.municipality or request.GET.status or request.GET.priority %}
                    <div class="order-item">
                        <p>{% trans "Pagal pasirinktus filtrus nerasta užsakymų." %}</p>
                    </div>
                    <p>
                        {% if is_evaluator %}
                            <a href="{% url 'modules.orders:evaluator_order_list' %}" class="btn-evaluate">{% trans 'Rodyti visus užsakymus' %}</a>
                        {% elif is_agency %}
                            {% if request.resolver_match.kwargs.id %}
                                <a href="{% url 'modules.orders:specific_evaluator_order_list' id=request.resolver_match.kwargs.id %}" class="btn-evaluate">{% trans 'Rodyti visus užsakymus' %}</a>
                            {% endif %}
                        {% endif %}
                    </p>
                {% else %}
                    <p>{% trans "Šiuo metu neturite priskirtų užsakymų." %}</p>
                    {% if is_agency %}
                        <p>{% trans "Galite priskirti užsakymus vertintojams administratoriaus skydelyje." %}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}