{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Objekto pasirinkimas' %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/object_select.css' %}">
<div class="progress-bar-placeholder-larger"></div>

<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h2><b class="landing-page-title">{% trans 'Nekilnojamo Turto Vertinimo Užklausa' %}</b></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="object-type-grid">
                {% for key, value in object_list.items %}
                <div class="object-type-item">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="obj_type_img_btn">
                            {% with 'images/'|add:value as image_static %}
                            <img src="{% static image_static %}" alt="{{ key }}" class="landing_page_img">
                            {% endwith %}
                            <div class="overlay">{{ key }}</div>
                        </button>
                        <input type="hidden" name="object_type" value="{{ key }}">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}