{% load static %}
{% load i18n %}
{% include 'shared/header.html' %}
{% if user.is_authenticated %}
{# {% include 'marea/menu_member.html' %} #}
{% else %}
{# {% include 'parea/menu.html' %} #}
{% endif %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Užsakymo pirmas žingsnis' %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="content-page">
    <div class="content">
        <div class='container-fluid col-10'>
            <form action="{% url 'modules.orders:order_first_step' %}" method="POST">{% csrf_token %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Lokacijos duomenys" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ location_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Apdaila" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ decoration_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Komunalinės paslaugos" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ utility_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Bendra informacija" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ common_info_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if additional_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Objekto tipo specifinė informacija" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ additional_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="mt-3 location_form_button">
                    <button type="submit" class="btn btn-primary btn-md" id="request_location_button">{% trans "Patvirtinti" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}