<!-- dev/modules/evaluator/templates/edit_object.html -->
{% load static %}
{% load i18n %}
{% include 'shared/header.html' %}
{% if user.is_authenticated %}
{# {% include 'marea/menu_member.html' %} #}
{% else %}
{# {% include 'parea/menu.html' %} #}
{% endif %}
{% block content %}
{% include 'shared/progress_bar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1. Redaguoti Užsakymą</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="content-page">
    <div class="content">
        <div class='container-fluid col-10'>
            <form action="{% url 'modules.evaluator:edit_object_data' order_id pk %}" method="POST">{% csrf_token %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Lokacijos duomenys" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ location_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if additional_form %}
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Papildoma informacija" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ additional_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Išsaugoti</button>
            </form>
        </div>
        <div class="navigation-buttons">
            <a href="{% url 'modules.evaluator:evaluation_steps' order_id %}" class="btn btn-secondary">{% trans "Atgal" %}</a>
            <a href="{% url 'modules.evaluator:edit_evaluation_decoration' order_id pk %}" class="btn btn-primary">{% trans "Pirmyn" %}</a>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}