<!-- dev/modules/evaluator/templates/edit_utility_info.html -->
{% load static %}
{% load i18n %}
{% include 'shared/header.html' %}
{% if user.is_authenticated %}
{# {% include 'marea/menu_member.html' %} #}
{% else %}
{# {% include 'parea/menu.html' %} #}
{% endif %}
{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4. Redaguoti Komunalinių Paslaugų Informaciją</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="content-page">
    <div class="content">
        <div class='container-fluid col-10'>
            <form action="{% if is_similar_object %}{% url 'modules.evaluator:edit_similar_object_utility_info' order_id pk similar_object_id%}{% else %}{% url 'modules.evaluator:edit_utility_info' order_id pk %}{% endif %}" method="POST">{% csrf_token %}
                <input type="hidden" name="is_similar_object" value="{{ is_similar_object }}">
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Komunalinių Paslaugų Informacija" %}</h3>
                            <div class="col-lg-12">
                                <div class="form-row">
                                    {{ utility_form.as_p }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Išsaugoti</button>
            </form>
        </div>
        <div class="navigation-buttons">
            <a href="{% if is_similar_object %}{% url 'modules.evaluator:edit_similar_object_common_info' order_id pk similar_object_id %}{% else %}{% url 'modules.evaluator:edit_common_info' order_id pk %}{% endif %}" class="btn btn-secondary">{% trans "Atgal" %}</a>
            <a href="{% if is_similar_object %}{% url 'modules.evaluator:similar_object_search' order_id pk %}{% else %}{% url 'modules.evaluator:edit_additional_buildings' order_id pk %}{% endif %}" class="btn btn-primary">{% trans "Pirmyn" %}</a>
        </div>

    </div>
</div>
</body>
</html>
{% endblock %}