{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans '4. Redaguoti Komunalinių Paslaugų Informaciją' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid col-10">
            <form action="{% if is_similar_object %}{% url 'modules.evaluator:edit_similar_object_utility_info' order_id pk similar_object_id%}{% else %}{% url 'modules.evaluator:edit_utility_info' order_id pk %}{% endif %}" method="POST">{% csrf_token %}
                <input type="hidden" name="is_similar_object" value="{{ is_similar_object }}">
                <div class="form-section">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h3 class="header-title">{% trans "Komunalinių Paslaugų Informacija" %}</h3>
                            <div class="grid-form">
                                {% for field in utility_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-form">{% trans 'Patvirtinti duomenis' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}