{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Nuotraukos Anotavimas' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<div class="content-page">
    <div class="container">
        <h2>{% trans "Nuotraukos Anotavimas" %}</h2>
        <div class="annotation-container" id="annotation-container" style="position: relative;">
            <img id="annotatable-image" src="{{ image.image.url }}" alt="Object Image" style="max-width: 100%;">
            {% for annotation in annotations %}
            <div class="marker existing-marker" data-id="{{ annotation.id }}" style="left: {{ annotation.x_coordinate }}%; top: {{ annotation.y_coordinate }}%;">
                <span class="marker-number">{{ forloop.counter }}</span>
            </div>
            {% endfor %}
        </div>
        <form id="annotation-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ annotation_form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Išsaugoti anotaciją" %}</button>
        </form>
    </div>

    <!-- Modal for displaying annotation details -->
    <div id="annotationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>{% trans "Anotacijos informacija" %}</h3>
            <p id="annotation-text"></p>
            <img id="annotation-image" src="" style="max-width: 100%;">
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="{% url 'modules.evaluator:edit_gallery' order_id=order.id pk=image.id %}" class="btn btn-secondary">{% trans "Atgal" %}</a>
    </div>
</div>

<script type="module" src="{% static 'main.js' %}"></script>
{% endblock %}