{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Nuotraukos Anotavimas' %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/annotation.css' %}">
{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<div class="content-page">
    <div class="container">
        <h2>{% trans "Nuotraukos Anotavimas" %}</h2>
        <div class="content">
            <div class="annotation-container" id="annotation-container" style="position: relative;">
                <img id="annotatable-image" src="{{ image.image.url }}" alt="Object Image" class="annotatable-image">
                {% for annotation in annotations %}
                <div class="marker existing-marker" data-id="{{ annotation.id }}" style="left: {{ annotation.x_coordinate }}%; top: {{ annotation.y_coordinate }}%;">
                    <span class="marker-number">{{ forloop.counter }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="annotation-form-container">
                <form id="annotation-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ annotation_form.x_coordinate }}
                    {{ annotation_form.y_coordinate }}
                    {{ annotation_form.annotation_text }}
                    <div id="drop-area" class="drop">
                        <img src="{% static 'icons/upload.svg' %}" alt="{% trans 'Pasirinkti failą' %}">
                        <p>{% trans "Spustelėkite čia, kad įkeltumėte failą arba vilkite ir numeskite" %}</p>
                        <input type="file" id="annotation-image-input" name="annotation_image" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Išsaugoti anotaciją" %}</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for displaying annotation details -->
    <div id="annotationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>{% trans "Anotacijos informacija" %}</h3>
            <p id="annotation-text"></p>
            <form id="annotation-edit-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea id="annotation-edit-text" name="annotation_text" style="display: none;"></textarea>
                <input type="file" id="annotation-edit-image" name="annotation_image" style="display: none;">
                <input type="hidden" id="id_x_coordinate" name="x_coordinate" value="">
                <input type="hidden" id="id_y_coordinate" name="y_coordinate" value="">
                <img id="annotation-image" src="" style="max-width: 100%;">
                <button id="save-annotation" class="btn btn-primary" data-id="" style="display: none;">{% trans "Išsaugoti" %}</button>
            </form>
            <button id="edit-annotation" class="icon-button" data-id="{{ annotation.id }}" title="{% trans 'Redaguoti' %}">
                <img src="{% static 'icons/edit-pencil.svg' %}" alt="{% trans 'Redaguoti' %}">
            </button>
            <form id="delete-annotation-form" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="annotation_id" id="delete-annotation-id">
                <button type="submit" id="delete-annotation" class="icon-button" data-id="{{ annotation.id }}" title="{% trans 'Ištrinti' %}">
                    <img src="{% static 'icons/trash.svg' %}" alt="{% trans 'Ištrinti' %}">
                </button>
            </form>
        </div>
    </div>
</div>
<div class="navigation-buttons">
    <a href="{% url 'modules.evaluator:edit_gallery' order_id=order.id pk=pk %}" class="btn-back">{% trans "Atgal" %}</a>
</div>
<script type="module" src="{% static 'main_image_annotation.js' %}"></script>
{% endblock %}