<!-- dev/modules/evaluator/templates/object_gallery.html -->
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% include 'shared/header.html' %}
{% if user.is_authenticated %}
{# {% include 'marea/menu_member.html' %} #}
{% else %}
{# {% include 'parea/menu.html' %} #}
{% endif %}
{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Gallery</title>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabletStyle.css' %}">
</head>
<body>
    <div class="tablet-container">
        <div class="form-container">
            <div class="rc-data">
                <div class='container-fluid col-10'>
                    <h3 class="header-title">{% trans "4. Vertinamo objekto nuotraukos" %}</h3>
                </div>
            </div>
            <div class='container-fluid col-10'>
                <h3>{% trans "Vertinamas turtas" %}</h3>
                <div class="order-data">
                    <p> {{ object.object_type }} {{ object.street }} {{ object.house_no }}, {{ object.municipality|get_municipality_name }}</p>
                    <p><strong>{% trans "Klientas:" %}</strong> {{ client.first_name }} {{ client.last_name }}</p>
                    <p>{{ phone_number }}</p>
                </div>
            </div>
        </div>

        <div class="gallery-container">
            <div class="header">
                <h2>{% trans "Galerija" %}</h2>
                <button id="openModal" class="add-btn">{% trans "Pridėti +" %}</button>
            </div>

            <div class="gallery">
                {% for image in images %}
                <div class="image-card">
                    <div class="image-placeholder">
                        <img src="{{ image.image.url }}" alt="Object Image">
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="image_id" value="{{ image.id }}">
                        </form>
                    </div>
                    <p class="image-name">{{ image.image.name }}</p>
                    <a href="{% url 'modules.evaluator:image_annotation' order_id=order.id image_id=image.id %}" class="btn btn-secondary">{% trans "Annotate" %}</a>
                    <button type="submit" name="delete_image" class="delete-buttons">{% trans "Delete" %}</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ image_form.as_p }}
                    <button type="submit" name="upload_image" class="btn btn-primary">{% trans "Upload Image" %}</button>
                </form>
            </div>
        </div>

        <div class="navigation-buttons">
            <a href="{% url 'modules.evaluator:edit_RC_data' order_id pk %}" class="btn btn-secondary">{% trans "Atgal" %}</a>
            <a href="{% url 'modules.evaluator:evaluation_steps' order_id %}" class="btn btn-primary">{% trans "Pirmyn" %}</a>
        </div>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModal");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
{% endblock %}