{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}{% trans 'Objekto Galerija' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/tabletStyle.css' %}">
<div class="tablet-container">
    <div class="form-container">
        <div class="rc-data">
            <div class="container-fluid col-10">
                <h3 class="header-title">{% trans "4. Vertinamo objekto nuotraukos" %}</h3>
            </div>
        </div>
        <div class="container-fluid col-10">
            <h3>{% trans "Vertinamas turtas" %}</h3>
            <div class="order-data">
                <p> {{ object.object_type }} {{ object.street }} {{ object.house_no }}, {{ object.municipality|get_municipality_name }}</p>
                <p><strong>{% trans "Klientas:" %}</strong> {{ client.first_name }} {{ client.last_name }}</p>
                <p>{{ phone_number }}</p>
            </div>
        </div>
    </div>

    <div class="gallery-container" id="gallery-container">
        <div class="header">
            <h2>{% trans "Galerija" %}</h2>
            <button id="openModal" class="add-btn">{% trans "Pridėti +" %}</button>
        </div>

        <div class="gallery">
            {% for image in images %}
            <div class="image-card">
                <div class="image-placeholder">
                    <img src="{{ image.image.url }}" alt="Object Image">
                </div>
                <div class="image-title">
                    <p class="image-name">{{ image.comment }}</p>
                </div> 
                <div class="image-buttons">
                    <a href="{% url 'modules.evaluator:image_annotation' order_id=order.id image_id=image.id pk=pk %}" class="btn btn-secondary">{% trans "Anotuoti" %}</a>
                    <form method="post" action="{% url 'modules.evaluator:delete_image' order_id=order.id image_id=image.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="icon-button" title="{% trans 'Ištrinti' %}">
                            <img src="{% static 'icons/trash.svg' %}">
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-input">
                    <label for="{{ image_form.comment.id_for_label }}">{{ image_form.comment.label }}</label>
                    {{ image_form.comment }}
                </div>
                <div class="modal-input">
                    <label for="{{ image_form.category.id_for_label }}">{{ image_form.category.label }}</label>
                    {{ image_form.category }}
                </div>
                <div id="drop-area" class="drop">
                    <img src="{% static 'icons/upload.svg' %}" alt="{% trans 'Pasirinkti failą' %}">
                    <p>{% trans "Spustelėkite čia, kad įkeltumėte failą arba vilkite ir numeskite" %}</p>
                    {{ image_form.image }}
                </div>
                <button type="submit" name="upload_image" class="btn btn-primary">{% trans "Pridėti nuotrauką" %}</button>
            </form>
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="{% url 'modules.evaluator:edit_RC_data' order_id pk %}" class="btn-back">{% trans "Atgal" %}</a>
        <a href="{% url 'modules.evaluator:similar_object_search' order_id pk %}" class="btn-forward">{% trans "Pirmyn" %}</a>
    </div>
</div>
<script type="module" src="{% static 'main_object_gallery.js' %}"></script>
{% endblock %}