{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% block title %}{% trans 'Panašių Objektų Sąrašas' %}{% endblock %}

{% block content %}
{% if show_progress_bar %}
    {% include 'shared/progress_bar.html' %}
{% endif %}
<link rel="stylesheet" href="{% static 'css/tabletStyle.css' %}">
<div class="tablet-container">
    <div class="form-container">
        <div class="rc-data">
            <div class="container-fluid col-10">
                <h3 class="header-title">{% trans "5. Panašių objektų paieška" %}</h3>
            </div>
        </div>
        <div class="container-fluid col-10">
            <h3>{% trans "Vertinamas turtas" %}</h3>
            <div class="order-data">
                <p> {{ object.object_type }} {{ object.street }} {{ object.house_no }}, {{ object.municipality|get_municipality_name }}</p>
                <p><strong>{% trans "Klientas:" %}</strong> {{ client.first_name }} {{ client.last_name }}</p>
                <p>{{ phone_number }}</p>
            </div>
        </div>
    </div>

    <div class="gallery-container">

        <div class="tabs">
            <a href="{% url 'modules.evaluator:similar_object_search' order_id pk %}" class="tab">{% trans "Paieška" %}</a>
            <a href="{% url 'modules.evaluator:similar_object_results' order_id pk %}" class="tab">{% trans "Paieškos rezultatai" %}</a>
            <a href="{% url 'modules.evaluator:similar_object_list' order_id pk %}" class="tab active">{% trans "Sąrašas" %}</a>
        </div>
        
        <div class="content">
            <div class="requests-list">
                {% for similar_object in similar_objects %}
                <div class="request-item">
                    <div class="request-details">
                        <p class="request-title">#{{ forloop.counter }} {{ similar_object.original_object.street }} {{ similar_object.original_object.house_no }}, {{ similar_object.original_object.municipality|get_municipality_name }}</p>
                        <p class="request-info">
                            {{ similar_object.original_object.object_type }}
                            · {{ similar_object.living_size }} m²
                            · {{ similar_object.room_count }} kambariai
                        </p>
                    </div>
                    <p>{{ similar_object.price }} EUR</p>
                    <div class="request-actions">
                        <a href="{% url 'modules.evaluator:edit_similar_object_data' order_id=order_id pk=pk %}?edit={{ similar_object.id }}" class="btn btn-primary">{% trans "Redaguoti" %}</a>
                        <form action="{% url 'modules.evaluator:similar_object_list' order_id=order_id pk=pk %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="similar_object_id" value="{{ similar_object.id }}">
                            <button type="submit" class="btn btn-danger">{% trans "Ištrinti" %}</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'modules.evaluator:edit_similar_object_data' order_id pk %}" class="btn btn-primary">{% trans "Pridėti Panašų Objektą" %}</a>
    </div>
</div>
<div class="navigation-buttons">
    <a href="{% url 'modules.evaluator:edit_gallery' order_id pk %}" class="btn-back">{% trans "Atgal" %}</a>
    <a href="{% url 'modules.evaluator:document_import' order_id pk %}" class="btn-forward">{% trans "Pirmyn" %}</a>
</div>
{% endblock %}