:root {
    // Primary.
    --cprime: #0D171F;
    --cprime-text: #FFFFFF;

    // Secondary.
    --csec: #192534;
    --csec-text: #A5AFBC;
    --cborder: #334154;

    --cactive: #5088EC;

    // - Main buttons.
    --cbutton: #5088EC;
    --cbutton-text: #FFFFFF;


    // - Icons.
    --cicon-sec: #A5AFBC;
    --cicon-sec-active: #FFFFFF;
}