:root {
    // Primary.
    --cprime: #E9ECF3;
    --cprime-text: #98A3B4;

    // Secondary.
    --csec: #FFFFFF;
    --csec-text: #354051;
    --cborder: #F1F3FB;


    
    // Third.
    --cthi: #F0F4FF;
    --cthi-text: #354051;

    --cactive: #4167D6;

    // - Main buttons.
    --cbutton: #4167D6;
    --cbutton-text: #FFFFFF;
    --cfields-border: #C6CDDE;


    // - Icons.
    --cicon-sec: #606B7C;
    --cicon-sec-active: #FFFFFF;
}